
<p class="header">
  <div id='qrcode'></div><br />
<b>Commands:</b><br />
<a href="{{site.baseurl}}/#sacnource">sACNSource</a><br /> 
<a href="{{site.baseurl}}/#begin">begin</a><br /> 
<a href="{{site.baseurl}}/#setuuid">setUuid</a><br /> 
<a href="{{site.baseurl}}/#setsourcename">setSourceName</a><br /> 
<a href="{{site.baseurl}}/#setuniverse">setUniverse</a><br /> 
<a href="{{site.baseurl}}/#setchannel">setChannel</a><br /> 
<a href="{{site.baseurl}}/#sendpacket">sendPacket</a><br /> 
<a href="{{site.baseurl}}/#setsequencenumber">setSequenceNumber</a><br /> 
<a href="{{site.baseurl}}/#getsequencenumber">getSequenceNumber</a><br /> 
<a href="{{site.baseurl}}/#setsyncaddress">setSyncAddress</a><br /> 
<a href="{{site.baseurl}}/#setoptions">setOptions</a><br /> 
<a href="{{site.baseurl}}/#readdata">readData</a><br /> 
<a href="{{site.baseurl}}/#packetsize">packetSize</a><br /> 
<a href="{{site.baseurl}}/examples">Examples</a><br /> 

 </p>

  <script src="https://unpkg.com/qrcode-generator@1.4.4/qrcode.js"></script>
  <script src="{{site.baseurl}}/qrcode.js"></script>
